ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	color: white;
}

textarea {
	width: 95%; height: 800px; 
	margin-left: 2.5%; 
	margin-top: 45px; 
	margin-bottom: 45px;
	padding: 10px;
}